parameters:
    level: max
    paths:
        - src
    tmpDir: var/cache/phpstan

services:
    -
        class: App\PHPStan\EnforceEncryptedEntityFieldsRule
        tags:
            - phpstan.rules.rule
